#loading {
    min-width: 330px;
    max-width: 500px;
    width: 70%;
    height: 280px
}

#loading img {
    width: 150px;
    height: 150px;
    animation: Logo-spin infinite 20s linear, Load 1s linear;
    position: absolute
}